<html>
<head>
<title>CRM-homepage</title>
</head>
<body>
<h1> Accueil </h1>
<div label="Clients">
<p> Gestion des clients de l'entreprise </p>
<button name="client_list" type="button" value="Lister les clients">Lister les clients</button>
<button name="client_add" type="button" value="Ajouter un nouveau client">Ajouter un nouveau client</button>
<button name="client_modify" type="button" value="Changer les données d'un client">Changer les données d'un client</button>
<button name="client_delete" type="button" value="Supprimer une fiche client">Supprimer une fiche client</button>
</div>
<div label="Products">
<p> Gestion des produits vendus par l'entreprise </p>
<button name="product_list" type="button" value="Lister les produits">Lister les produits</button>
<button name="product_add" type="button" value="Ajouter un nouveau produit">Ajouter un nouveau produit</button>
<button name="product_modify" type="button" value="Changer les données d'un produit">Changer les données d'un produit</button>
<button name="product_delete" type="button" value="Supprimer une fiche produit">Supprimer une fiche produit</button>
</div>
<div label="Orders">
<p> Informations des commandes </p>
<button name="order_list" type="button" value="Lister les commandes">Lister les commandes</button>

</div>
<div label="Statistics">
<p>Statistiques</p>
<button name="statistic_client" type="button" value="Statistiques des clients">Statistiques des clients</button>
<button name="statistic_product" type="button" value="Statistiques des produits">Statistiques des produits</button>

</body>
</html>